a {
  text-decoration: none;
  color: #000014;
}
footer {
  margin-top: 25px;
}

h2 {
  font-family: "Lobster", cursive;
  font-size: 2em;
  font-weight: 100;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 69, 109);
}

.main {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  max-width: 100%;
}

.outer-card,
.inner-card {
  background: rgba(131, 193, 252, 0.425);
  border: 1px solid rgb(0, 0, 88);
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 12px rgba(80, 80, 199, 0.74);
  margin: 20px 0 20px 0;
}

.inner-card {
  padding: 20px;
}

.search-bar {
  padding: 15px 15px 0 0;
  display: flex;
  justify-content: center;
}

input[type="search"],
input[type="submit"],
.current-location {
  font-family: "Handlee", cursive;
  padding: 5px 15px 5px 15px;
  width: 200px;
  max-width: 60%;
  border: 1px solid rgb(0, 0, 88);
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(102, 102, 102, 0.829);
}

input[type="submit"],
.current-location {
  margin-left: 20px;
  width: 150px;
  max-width: 50%;
  background: rgb(0, 0, 88);
  color: white;
  transition: 200ms all ease-in-out;
}

input[type="submit"]:hover,
.current-location:hover {
  color: cornflowerblue;
  background: white;
  border: 1px solid cornflowerblue;
}

input[type="search"]:focus,
input[type="submit"]:focus {
  border: none;
}

.current-location {
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}

.display-left p,
.display-right {
  color: #000014;
  line-height: 20px;
  font-family: "Handlee", cursive;
  text-transform: capitalize;
}
.display-right {
  text-align: center;
  line-height: 20px;
}

.search-location {
  font-size: 45px;
  text-align: center;
  display: block;
  margin-bottom: 25px;
}

.main-icon {
  font-size: 64px;
  font-weight: 700;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(0, 69, 109);
}

.main-temperature {
  font-size: 24px;
  font-weight: 500;
  margin-top: 15px;
}

.days p,
.temp p,
.col-2 p {
  color: #000014;
  font-family: "Lobster", cursive;
  font-size: 14px;
  text-align: center;
}

.col-2 i {
  font-size: 20px;
  color: rgb(0, 69, 109);
}

footer {
  text-align: center;
}
